name: phpunit

on: push

jobs:
  phpunit:
    strategy:
      matrix:
        php: [8.1, 8.2, 8.3, 8.4, 8.5]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: xdebug
      env:
        fail-fast: true
    - uses: actions/cache@v5
      with: 
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer-
    - name: composer
      run: composer update
    - name: phpstan
      run: vendor/bin/phpstan analyze -l 8 src tests
    - name: phpunit
      run: XDEBUG_MODE=coverage vendor/bin/phpunit
    - name: coveralls
      run: |
        export COVERALLS_RUN_LOCALLY=1
        export COVERALLS_REPO_TOKEN=${{ secrets.coverallsToken }}
        composer require php-coveralls/php-coveralls
        php vendor/bin/php-coveralls -v
        git reset --hard HEAD

